## 항공 종사자 현황 데이터 : 데이터 전처리
--- 
### 데이터 불러오기

In [1]:
import pandas as pd

airline = pd.read_csv("C:/Data/airline/항공종사자현황.csv")
airline.head(10)

,년(Annual),항공분류,구분,LEVEL1,LEVEL2,값,증감,증감율,구성비,누계,누계구성비
0,2017,대한항공,내국인,조종사,운송용,1356.0,1356.0,1356.0,0,0,0
1,2017,대한항공,내국인,조종사,사업용,932.0,932.0,932.0,0,0,0
2,2017,대한항공,내국인,조종사,계,2288.0,2288.0,2288.0,0,0,0
3,2017,대한항공,내국인,항공정비사,항공정비사,2706.0,2706.0,2706.0,0,0,0
4,2017,대한항공,내국인,운항관리사,운항관리사,170.0,170.0,170.0,0,0,0
5,2017,대한항공,내국인,객실승무원,객실승무원,6341.0,6341.0,6341.0,0,0,0
6,2017,대한항공,내국인,계,계,11505.0,11505.0,11505.0,0,0,0
7,2017,대한항공,외국인,조종사,운송용,397.0,397.0,397.0,0,0,0
8,2017,대한항공,외국인,조종사,사업용,14.0,14.0,14.0,0,0,0
9,2017,대한항공,외국인,조종사,계,411.0,411.0,411.0,0,0,0

### 필요한 데이터만 사용

In [2]:
airline.drop(['증감', '증감율','구성비', '누계', '누계구성비', 'LEVEL2'], axis = 1, inplace = True)
airline.head()

   년(Annual)  항공분류   구분 LEVEL1       값
0       2017  대한항공  내국인    조종사  1356.0
1       2017  대한항공  내국인    조종사   932.0
2       2017  대한항공  내국인    조종사  2288.0
3       2017  대한항공  내국인  항공정비사  2706.0
4       2017  대한항공  내국인  운항관리사   170.0

### 결측값 처리 
* 결측값이 4개 이상 있는 행 삭제

In [3]:
airline = airline.dropna(thresh = 4)
airline

      년(Annual)  항공분류   구분 LEVEL1        값
0          2017  대한항공  내국인    조종사   1356.0
1          2017  대한항공  내국인    조종사    932.0
2          2017  대한항공  내국인    조종사   2288.0
3          2017  대한항공  내국인  항공정비사   2706.0
4          2017  대한항공  내국인  운항관리사    170.0
...         ...   ...  ...    ...      ...
1099       2021    총계   소계    조종사   6355.0
1100       2021    총계   소계  항공정비사   5480.0
1101       2021    총계   소계  운항관리사    494.0
1102       2021    총계   소계  객실승무원  13658.0
1103       2021    총계   소계      계  25960.0

[1104 rows x 5 columns]

### 항공정비사 데이터 필터링

In [5]:
airline_mask = (airline['LEVEL1'] == '항공정비사')&(airline['구분'] == '소계')
airline = airline[airline_mask]
airline.head()

    년(Annual)    항공분류  구분 LEVEL1       값
15       2017    대한항공  소계  항공정비사  2706.0
35       2017  아시아나항공  소계  항공정비사  1441.0
52       2017    제주항공  소계  항공정비사   332.0
73       2017     진에어  소계  항공정비사   133.0
90       2017    에어부산  소계  항공정비사   116.0

### CSV 파일 저장

In [6]:
airline.to_csv("C:/Data/airline/mechanic.csv", encoding = 'utf-8-sig')