## 기상 데이터, 항공 스케줄 데이터 병합 & 전처리

In [1]:
import pandas as pd
# 데이터 불러오기
schedule = pd.read_csv("C:/Data/schedule_pre/schedule.csv")
schedule

,Unnamed: 0,연도,월,일,항공사,편명,도착,계획,예상,출발,구분,현황
0,0,2017,1.0,31.0,대한항공,KE1902,제주(CJU)->광주(KWJ),8:35,8:35,8:50,여객,출발
1,2,2017,1.0,31.0,대한항공,KE1904,제주(CJU)->광주(KWJ),11:45,11:45,12:02,여객,출발
2,4,2017,1.0,31.0,대한항공,KE1906,제주(CJU)->광주(KWJ),15:00,15:00,15:15,여객,출발
3,6,2017,1.0,31.0,대한항공,KE1900,제주(CJU)->광주(KWJ),16:00,17:00,16:56,여객,지연
4,8,2017,1.0,31.0,대한항공,KE1908,제주(CJU)->광주(KWJ),18:05,18:05,18:22,여객,출발
...,...,...,...,...,...,...,...,...,...,...,...,...
72638,194,2021,12.0,2.0,대한항공,KE1958,제주(CJU)->청주(CJJ),16:10,16:10,16:49,여객,지연
72639,196,2021,12.0,1.0,대한항공,KE1952,제주(CJU)->청주(CJJ),07:40,07:40,07:52,여객,출발
72640,198,2021,12.0,1.0,대한항공,KE1956,제주(CJU)->청주(CJJ),14:30,14:45,15:08,여객,지연
72641,200,2021,12.0,1.0,대한항공,KE1958,제주(CJU)->청주(CJJ),16:10,16:10,16:37,여객,출발
72642,202,2021,12.0,1.0,대한항공,KE1958,제주(CJU)->청주(CJJ),16:10,16:10,16:37,여객,출발

In [2]:
# CSV를 불러오는 중에 생긴 열 삭제
schedule.drop('Unnamed: 0', axis = 1, inplace = True)

# 사용하지 않는 행 삭제
schedule.drop(['항공사', '편명', '도착', '예상', '출발', '구분'], axis = 1, inplace = True)
schedule

         연도     월     일     계획  현황
0      2017   1.0  31.0   8:35  출발
1      2017   1.0  31.0  11:45  출발
2      2017   1.0  31.0  15:00  출발
3      2017   1.0  31.0  16:00  지연
4      2017   1.0  31.0  18:05  출발
...     ...   ...   ...    ...  ..
72638  2021  12.0   2.0  16:10  지연
72639  2021  12.0   1.0  07:40  출발
72640  2021  12.0   1.0  14:30  지연
72641  2021  12.0   1.0  16:10  출발
72642  2021  12.0   1.0  16:10  출발

[72643 rows x 5 columns]

In [3]:
schedule.현황.replace({'출발' : 0, '지연' : 0, '결항' : 1}, inplace = True)
schedule

         연도     월     일     계획 현황
0      2017   1.0  31.0   8:35  0
1      2017   1.0  31.0  11:45  0
2      2017   1.0  31.0  15:00  0
3      2017   1.0  31.0  16:00  0
4      2017   1.0  31.0  18:05  0
...     ...   ...   ...    ... ..
72638  2021  12.0   2.0  16:10  0
72639  2021  12.0   1.0  07:40  0
72640  2021  12.0   1.0  14:30  0
72641  2021  12.0   1.0  16:10  0
72642  2021  12.0   1.0  16:10  0

[72643 rows x 5 columns]

In [4]:
schedule.to_csv("C:/Data/schedule_pre/schedule_pre.csv", encoding = 'utf-8-sig')

### 엑셀 vlookup 함수 사용으로 데이터 병합
* 시간 관계 상 엑셀로 진행

![병합 데이터](https://ifh.cc/g/3gzkMO.png)

In [5]:
# 데이터 불러오기
data = pd.read_csv("C:/Data/schedule.csv")
data

,Unnamed: 0,연도,월,일,계획,풍향,풍속,시정,전운량,최저운고,기온,강수량,적설,신적설,현황
0,0,2017,1,31,8,3,4,1000,4,25,1.4,0,0,0,0
1,1,2017,1,31,11,33,5,1000,7,25,2.5,0,0,0,0
2,2,2017,1,31,15,31,6,1000,2,25,3.7,0,0,0,0
3,3,2017,1,31,16,32,6,1000,3,25,3.8,0,0,0,0
4,4,2017,1,31,18,30,8,1000,7,25,4.2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72335,550,2017,4,13,19,27,7,1000,0,180,15.3,0,0,0,0
72336,589,2017,4,4,8,14,2,800,0,40,13.0,0,0,0,0
72337,52887,2020,12,31,7,36,10,600,7,15,1.3,0,22,22,0
72338,52892,2020,12,31,11,33,11,120,7,15,0.6,0,25,25,0
72339,55579,2020,11,19,11,23,23,1000,7,25,23.6,2,0,0,0

In [6]:
# Unnamed: 0 행 삭제
data.drop('Unnamed: 0', axis = 1, inplace = True)
data

         연도   월   일  계획  풍향  풍속    시정  전운량  최저운고    기온  강수량  적설  신적설  현황
0      2017   1  31   8   3   4  1000    4    25   1.4    0   0    0   0
1      2017   1  31  11  33   5  1000    7    25   2.5    0   0    0   0
2      2017   1  31  15  31   6  1000    2    25   3.7    0   0    0   0
3      2017   1  31  16  32   6  1000    3    25   3.8    0   0    0   0
4      2017   1  31  18  30   8  1000    7    25   4.2    0   0    0   0
...     ...  ..  ..  ..  ..  ..   ...  ...   ...   ...  ...  ..  ...  ..
72335  2017   4  13  19  27   7  1000    0   180  15.3    0   0    0   0
72336  2017   4   4   8  14   2   800    0    40  13.0    0   0    0   0
72337  2020  12  31   7  36  10   600    7    15   1.3    0  22   22   0
72338  2020  12  31  11  33  11   120    7    15   0.6    0  25   25   0
72339  2020  11  19  11  23  23  1000    7    25  23.6    2   0    0   0

[72340 rows x 14 columns]

In [7]:
# 연도, 월, 일, 계획, 적설, 신적설 삭제
# 적설, 신적설 열을 삭제하는 이유 : 데이터의 수가 학습시키기에는 너무 적음
data.drop(['연도', '월', '일', '계획', '적설', '신적설'], axis = 1, inplace = True)
data

       풍향  풍속    시정  전운량  최저운고    기온  강수량  현황
0       3   4  1000    4    25   1.4    0   0
1      33   5  1000    7    25   2.5    0   0
2      31   6  1000    2    25   3.7    0   0
3      32   6  1000    3    25   3.8    0   0
4      30   8  1000    7    25   4.2    0   0
...    ..  ..   ...  ...   ...   ...  ...  ..
72335  27   7  1000    0   180  15.3    0   0
72336  14   2   800    0    40  13.0    0   0
72337  36  10   600    7    15   1.3    0   0
72338  33  11   120    7    15   0.6    0   0
72339  23  23  1000    7    25  23.6    2   0

[72340 rows x 8 columns]

In [8]:
data.to_csv("C:/Data/data.csv", encoding = 'utf-8-sig')